# Environment
.env

# Python
__pycache__/
*.py[cod]
venv/
*.sqlite3
.coverage
.pytest_cache/
htmlcov/

# Node
node_modules/
.next/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django collectstatic output
staticfiles/

# Docker
docker-data/

# Logs
*.log
